<!DOCTYPE html>
<html>
<head>
    <title>Site Title</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
<template id="messagetemplate">
    <li><span class="author"></span> <span class="content"></span> <i class="timestamp"></i></li>
</template>
<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        const template = document.querySelector("#messagetemplate")
        const message = template.content.cloneNode(true);

        const author = message.querySelector(".author")
        author.textContent = data.author

        const content = message.querySelector(".content")
        content.textContent = data.content

        const timestamp = message.querySelector(".timestamp")
        timestamp.textContent = data.created_at

        const chatList = document.getElementById('chat-log');
        chatList.appendChild(message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-send').onclick = function(e) {
        e.preventDefault();
        const messageInputDom = document.querySelector('#id_chat_message');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</html>