{% extends "chatinterface/base.html" %}

{% block content %}
<p>Logged in as: {{ user }}</p>
<div id="chat-window">
{% if chat_messages %}
    <ul id="chat-log">
    {% for message in chat_messages %}
        <li>{{message.author.username}}: {{message.content}} <i>{{message.created_at}}</i></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No messages are available.</p>
{% endif %}
</div>
<div>
<form id="ChatForm" action="{%url 'index' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input id="chat-send" type="submit" value="Send">
</form>
</div>
{% endblock content %}